.playerPlane{
    width:0;
    height:0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid black;
    position: absolute;
    transition: 0s;
    transform: translate(-50%,-50%);
   
    
}
.bullet{
    width:5px;
    height:30px;
    position: relative;
    left:-2.8px;
    top:4px;
    transition: transform 300ms linear;
    background-color: black;
    
  
}

.animate-on{
    transform:translateY(-10000%);
}
.animate-off{
    transform:translateY(10000%);
}


.enemyPlane{
    width:0;
    height:0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
}


.box{
    width:100px;
    height:100px;
    background-color: aqua;
    padding: 10px;
}

.inner-box{
    width: 20px;
    height:20px;
    background-color: blueviolet;
    transition: transform 1s linear;

}

.box:active .inner-box{
    transform:translateY(1000%)

}
